body{
    font-family: arial;
    font-size: 16px;
    margin: 0px;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
  }
  .container-fluid{
    width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    border: 10px solid #41b9ff;
  }